extends layout_NL

block content
   div.well
    form(action='doChangePassword' method='post')
      table
        tr
          td
            label.padded-right Mailadres :
          td
            input(type='text' name='email' size=35)
        tr
          td
            label.padded-right Oud paswoord :
          td
            input(type='password' name='old_password' size=35)
        tr
          td
            label.padded-right Nieuw paswoord :
          td
            input(type='password' name='new_password' size=35)
        tr
          td
          td(align='right')
            input(type='image', src='/images/eval.png', name='submit')
 