extends layout_EN

block content
   div.well
    form(action='doChangePassword' method='post')
      table
        tr
          td
            label.padded-right Email :
          td
            input(type='text' name='email' size=35)
        tr
          td
            label.padded-right Old password :
          td
            input(type='password' name='old_password' size=35)
        tr
          td
            label.padded-right New password :
          td
            input(type='password' name='new_password' size=35)
        tr
          td
          td(align='right')
            input(type='image', src='/images/eval.png', name='submit')
 