doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body
      div Uw paswoord voor de Mycroft tool is #{password}
      p Gelieve aan te loggen op #{url}