doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body
      div Your password for the Mycroft tool is #{password}
      p Please log in to following url : #{url}
